In [55]:
import logging
import pandas as pd
import numpy as np

In [56]:
%load_ext autoreload
%autoreload 2
from IPython.display import display, HTML

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [57]:
logging.basicConfig(format='%(asctime)s %(levelname)s %(name)s %(message)s', level=logging.INFO)

In [97]:
import downloader

In [98]:
import download_datasets

In [99]:
dfs=download_datasets.get_datasets()

2022-07-24 19:17:31,792 INFO root processing: data_sources/MaunaLoaCO2MonthlyMean.toml
2022-07-24 19:17:32,707 INFO Downloader Creating dataset MaunaLoaMonthlyCO2
2022-07-24 19:17:32,729 INFO root processing: data_sources/EuropeanMeanTemperatureSinceRomanTime_EuroMed2k.toml
2022-07-24 19:17:33,478 INFO Downloader Creating dataset euromed2k
2022-07-24 19:17:33,502 INFO root processing: data_sources/LawDome2006.toml
2022-07-24 19:17:34,485 INFO Downloader Creating dataset LawDome2006_CO2_CH4_N20
2022-07-24 19:17:34,522 INFO Downloader Creating dataset LawDome2006_CO2_Core_DSS_Eth1996
2022-07-24 19:17:34,525 INFO Downloader Creating dataset LawDome2006_CO2_Core_DSS_MacFM20042006
2022-07-24 19:17:34,528 INFO Downloader Creating dataset LawDome2006_CO2_Core_DE08-2_Eth1996
2022-07-24 19:17:34,530 INFO Downloader Creating dataset LawDome2006_CO2_Core_DE08-2_MacFM20042006
2022-07-24 19:17:34,532 INFO Downloader Creating dataset LawDome2006_CO2_Core_DE08_Eth1996
2022-07-24 19:17:34,535 INFO Downloader Creating dataset LawDome2006_CO2_Core_DE08_MacFM20042006
2022-07-24 19:17:34,537 INFO Downloader Creating dataset LawDome2006_CO2_Core_DSSW20Kfirn
2022-07-24 19:17:34,539 INFO Downloader Creating dataset LawDome2006_CO2_Core_CAPEGRIM
2022-07-24 19:17:34,541 INFO Downloader Creating dataset LawDome2006_CO2_All
2022-07-24 19:17:34,544 INFO Downloader Creating dataset LawDome2006_CH4_Core_DSS_Eth1996
2022-07-24 19:17:34,546 INFO Downloader Creating dataset LawDome2006_CH4_Core_DSS_MacFM20042006
2022-07-24 19:17:34,548 INFO Downloader Creating dataset LawDome2006_CH4_Core_DE08-2_Eth1996
2022-07-24 19:17:34,550 INFO Downloader Creating dataset LawDome2006_CH4_Core_DE08-2_MacFM20042006
2022-07-24 19:17:34,552 INFO Downloader Creating dataset LawDome2006_CH4_Core_DE08_Eth1996
2022-07-24 19:17:34,554 INFO Downloader Creating dataset LawDome2006_CH4_Core_DE08_MacFM20042006
2022-07-24 19:17:34,556 INFO Downloader Creating dataset LawDome2006_CH4_Core_DSSW20Kfirn
2022-07-24 19:17:34,557 INFO Downloader Creating dataset LawDome2006_CH4_Core_CAPEGRIM
2022-07-24 19:17:34,559 INFO Downloader Creating dataset LawDome2006_CH4_All
2022-07-24 19:17:34,561 INFO Downloader Creating dataset LawDome2006_N20_Core_DSS_MacFM20042006
2022-07-24 19:17:34,563 INFO Downloader Creating dataset LawDome2006_N20_Core_DSS08-2_MacFM20042006
2022-07-24 19:17:34,565 INFO Downloader Creating dataset LawDome2006_N20_Core_DSS08_MacFM20042006
2022-07-24 19:17:34,566 INFO Downloader Creating dataset LawDome2006_N20_Core_DSSW20Kfirn
2022-07-24 19:17:34,568 INFO Downloader Creating dataset LawDome2006_N20_Core_CAPEGRIM
2022-07-24 19:17:34,569 INFO Downloader Creating dataset LawDome2006_N20_All
2022-07-24 19:17:34,571 INFO root processing: data_sources/MaunaLoaCO2WeeklyMeanHistorical.toml
2022-07-24 19:17:35,393 INFO Downloader Creating dataset MaunaLoaWeeklyHistoricalCO2
2022-07-24 19:17:35,429 INFO root processing: data_sources/WikipediaGeologicTimeScales.toml
2022-07-24 19:17:35,543 INFO Downloader Creating dataset geologictimescale
2022-07-24 19:17:35,666 INFO root processing: data_sources/DWDGermanJuneMeanTemperature.toml
2022-07-24 19:17:35,834 INFO Downloader Creating dataset germany_june_meantemp
2022-07-24 19:17:35,842 INFO root processing: data_sources/11000yearsunspotnumber.toml
2022-07-24 19:17:36,548 INFO Downloader Creating dataset sunspots11000yrs
2022-07-24 19:17:36,566 INFO root processing: data_sources/DWDGermanAugustMeanTemperature.toml
2022-07-24 19:17:36,736 INFO Downloader Creating dataset germany_august_meantemp
2022-07-24 19:17:36,751 INFO root processing: data_sources/DWDGermanJulyMeanTemperature.toml
2022-07-24 19:17:36,874 INFO Downloader Creating dataset germany_july_meantemp
2022-07-24 19:17:36,888 INFO root processing: data_sources/SunspotsMonthlyMean.toml
2022-07-24 19:17:37,260 INFO Downloader Creating dataset sunspotsmonthlymean1749
2022-07-24 19:17:37,307 INFO root processing: data_sources/LawDome2018CO2.toml
2022-07-24 19:17:37,904 INFO Downloader Creating dataset LawDome2018CO2
2022-07-24 19:17:37,913 INFO root processing: data_sources/DomeC2006CO2.toml
2022-07-24 19:17:37,925 INFO Downloader Test for redirect: https://doi.pangaea.de/10.1594/PANGAEA.472488?format=textfile
2022-07-24 19:17:38,290 INFO Downloader ReqInfo: <Response [200]>
2022-07-24 19:17:38,292 INFO Downloader Creating dataset DomeC2016CO2
2022-07-24 19:17:38,297 INFO root processing: data_sources/GISP2IceCoreTemperatureAlley2004.toml
2022-07-24 19:17:40,538 INFO Downloader Creating dataset gisp2icecoretemp
2022-07-24 19:17:40,555 INFO Downloader Creating dataset gisp2icecoreaccum
2022-07-24 19:17:40,566 INFO root processing: data_sources/EarlyCenozoicLiverwortBryocarbCO2Data.toml
2022-07-24 19:17:41,290 INFO Downloader Creating dataset CenozoicCO2
2022-07-24 19:17:41,578 INFO Downloader Creating dataset CenozoicCO2Filtered

In [100]:
print(f" Datasets: {len(dfs.keys())}")
tags=[]
for ds in dfs:
    for tag in dfs[ds]['metadata']['tags']:
        if tag not in tags:
            tags.append(tag)
for tag in tags:
    print(f"----{tag}----:")
    for ds in dfs:
        if tag in dfs[ds]['metadata']['tags']:
            print(f"{ds} ", end="")
    print()
    print()

 Datasets: 40
----co2----:
MaunaLoaMonthlyCO2 LawDome2006_CO2_CH4_N20 LawDome2006_CO2_Core_DSS_Eth1996 LawDome2006_CO2_Core_DSS_MacFM20042006 LawDome2006_CO2_Core_DE08-2_Eth1996 LawDome2006_CO2_Core_DE08-2_MacFM20042006 LawDome2006_CO2_Core_DE08_Eth1996 LawDome2006_CO2_Core_DE08_MacFM20042006 LawDome2006_CO2_Core_DSSW20Kfirn LawDome2006_CO2_Core_CAPEGRIM LawDome2006_CO2_All LawDome2006_CH4_Core_DSS_Eth1996 LawDome2006_CH4_Core_DSS_MacFM20042006 LawDome2006_CH4_Core_DE08-2_Eth1996 LawDome2006_CH4_Core_DE08-2_MacFM20042006 LawDome2006_CH4_Core_DE08_Eth1996 LawDome2006_CH4_Core_DE08_MacFM20042006 LawDome2006_CH4_Core_DSSW20Kfirn LawDome2006_CH4_Core_CAPEGRIM LawDome2006_CH4_All LawDome2006_N20_Core_DSS_MacFM20042006 LawDome2006_N20_Core_DSS08-2_MacFM20042006 LawDome2006_N20_Core_DSS08_MacFM20042006 LawDome2006_N20_Core_DSSW20Kfirn LawDome2006_N20_Core_CAPEGRIM LawDome2006_N20_All MaunaLoaWeeklyHistoricalCO2 LawDome2018CO2 DomeC2016CO2 CenozoicCO2 CenozoicCO2Filtered

----mauna_loa----:
MaunaLoaMonthlyCO2 MaunaLoaWeeklyHistoricalCO2

----direct_measurement----:
MaunaLoaMonthlyCO2 MaunaLoaWeeklyHistoricalCO2 germany_june_meantemp germany_august_meantemp germany_july_meantemp sunspotsmonthlymean1749

----temperature----:
euromed2k germany_june_meantemp germany_august_meantemp germany_july_meantemp gisp2icecoretemp gisp2icecoreaccum

----tree_ring----:
euromed2k

----europe----:
euromed2k

----summer----:
euromed2k germany_june_meantemp germany_august_meantemp germany_july_meantemp

----ch4----:
LawDome2006_CO2_CH4_N20 LawDome2006_CO2_Core_DSS_Eth1996 LawDome2006_CO2_Core_DSS_MacFM20042006 LawDome2006_CO2_Core_DE08-2_Eth1996 LawDome2006_CO2_Core_DE08-2_MacFM20042006 LawDome2006_CO2_Core_DE08_Eth1996 LawDome2006_CO2_Core_DE08_MacFM20042006 LawDome2006_CO2_Core_DSSW20Kfirn LawDome2006_CO2_Core_CAPEGRIM LawDome2006_CO2_All LawDome2006_CH4_Core_DSS_Eth1996 LawDome2006_CH4_Core_DSS_MacFM20042006 LawDome2006_CH4_Core_DE08-2_Eth1996 LawDome2006_CH4_Core_DE08-2_MacFM20042006 LawDome2006_CH4_Core_DE08_Eth1996 LawDome2006_CH4_Core_DE08_MacFM20042006 LawDome2006_CH4_Core_DSSW20Kfirn LawDome2006_CH4_Core_CAPEGRIM LawDome2006_CH4_All LawDome2006_N20_Core_DSS_MacFM20042006 LawDome2006_N20_Core_DSS08-2_MacFM20042006 LawDome2006_N20_Core_DSS08_MacFM20042006 LawDome2006_N20_Core_DSSW20Kfirn LawDome2006_N20_Core_CAPEGRIM LawDome2006_N20_All

----n20----:
LawDome2006_CO2_CH4_N20 LawDome2006_CO2_Core_DSS_Eth1996 LawDome2006_CO2_Core_DSS_MacFM20042006 LawDome2006_CO2_Core_DE08-2_Eth1996 LawDome2006_CO2_Core_DE08-2_MacFM20042006 LawDome2006_CO2_Core_DE08_Eth1996 LawDome2006_CO2_Core_DE08_MacFM20042006 LawDome2006_CO2_Core_DSSW20Kfirn LawDome2006_CO2_Core_CAPEGRIM LawDome2006_CO2_All LawDome2006_CH4_Core_DSS_Eth1996 LawDome2006_CH4_Core_DSS_MacFM20042006 LawDome2006_CH4_Core_DE08-2_Eth1996 LawDome2006_CH4_Core_DE08-2_MacFM20042006 LawDome2006_CH4_Core_DE08_Eth1996 LawDome2006_CH4_Core_DE08_MacFM20042006 LawDome2006_CH4_Core_DSSW20Kfirn LawDome2006_CH4_Core_CAPEGRIM LawDome2006_CH4_All LawDome2006_N20_Core_DSS_MacFM20042006 LawDome2006_N20_Core_DSS08-2_MacFM20042006 LawDome2006_N20_Core_DSS08_MacFM20042006 LawDome2006_N20_Core_DSSW20Kfirn LawDome2006_N20_Core_CAPEGRIM LawDome2006_N20_All

----icecore----:
LawDome2006_CO2_CH4_N20 LawDome2006_CO2_Core_DSS_Eth1996 LawDome2006_CO2_Core_DSS_MacFM20042006 LawDome2006_CO2_Core_DE08-2_Eth1996 LawDome2006_CO2_Core_DE08-2_MacFM20042006 LawDome2006_CO2_Core_DE08_Eth1996 LawDome2006_CO2_Core_DE08_MacFM20042006 LawDome2006_CO2_Core_DSSW20Kfirn LawDome2006_CO2_Core_CAPEGRIM LawDome2006_CO2_All LawDome2006_CH4_Core_DSS_Eth1996 LawDome2006_CH4_Core_DSS_MacFM20042006 LawDome2006_CH4_Core_DE08-2_Eth1996 LawDome2006_CH4_Core_DE08-2_MacFM20042006 LawDome2006_CH4_Core_DE08_Eth1996 LawDome2006_CH4_Core_DE08_MacFM20042006 LawDome2006_CH4_Core_DSSW20Kfirn LawDome2006_CH4_Core_CAPEGRIM LawDome2006_CH4_All LawDome2006_N20_Core_DSS_MacFM20042006 LawDome2006_N20_Core_DSS08-2_MacFM20042006 LawDome2006_N20_Core_DSS08_MacFM20042006 LawDome2006_N20_Core_DSSW20Kfirn LawDome2006_N20_Core_CAPEGRIM LawDome2006_N20_All LawDome2018CO2 DomeC2016CO2 gisp2icecoretemp gisp2icecoreaccum

----antarctica----:
LawDome2006_CO2_CH4_N20 LawDome2006_CO2_Core_DSS_Eth1996 LawDome2006_CO2_Core_DSS_MacFM20042006 LawDome2006_CO2_Core_DE08-2_Eth1996 LawDome2006_CO2_Core_DE08-2_MacFM20042006 LawDome2006_CO2_Core_DE08_Eth1996 LawDome2006_CO2_Core_DE08_MacFM20042006 LawDome2006_CO2_Core_DSSW20Kfirn LawDome2006_CO2_Core_CAPEGRIM LawDome2006_CO2_All LawDome2006_CH4_Core_DSS_Eth1996 LawDome2006_CH4_Core_DSS_MacFM20042006 LawDome2006_CH4_Core_DE08-2_Eth1996 LawDome2006_CH4_Core_DE08-2_MacFM20042006 LawDome2006_CH4_Core_DE08_Eth1996 LawDome2006_CH4_Core_DE08_MacFM20042006 LawDome2006_CH4_Core_DSSW20Kfirn LawDome2006_CH4_Core_CAPEGRIM LawDome2006_CH4_All LawDome2006_N20_Core_DSS_MacFM20042006 LawDome2006_N20_Core_DSS08-2_MacFM20042006 LawDome2006_N20_Core_DSS08_MacFM20042006 LawDome2006_N20_Core_DSSW20Kfirn LawDome2006_N20_Core_CAPEGRIM LawDome2006_N20_All LawDome2018CO2 DomeC2016CO2

----time_interval_names----:
geologictimescale

----germany----:
germany_june_meantemp germany_august_meantemp germany_july_meantemp

----sunspots----:
sunspots11000yrs sunspotsmonthlymean1749

----greenland----:
gisp2icecoretemp gisp2icecoreaccum

In [101]:
for dataset_name in dfs.keys():
    print()
    print("---------------------------------------------------------------------------------")
    print(f"Dataset {dataset_name} {dfs[dataset_name]['metadata']['tags']}")
    print()
    for entry in dfs[dataset_name]['metadata']:
        if entry in ['title', 'tags']:
            continue
        display(HTML(f"{entry}: {dfs[dataset_name]['metadata'][entry]}"))
    display(dfs[dataset_name]['data'])

---------------------------------------------------------------------------------
Dataset MaunaLoaMonthlyCO2 ['co2', 'mauna_loa', 'direct_measurement']

     year  month  decimal date  average  deseasonalized  ndays  sdev   unc
0    1958      3     1958.2027   315.70          314.43    NaN   NaN   NaN
1    1958      4     1958.2877   317.45          315.16    NaN   NaN   NaN
2    1958      5     1958.3699   317.51          314.71    NaN   NaN   NaN
3    1958      6     1958.4548   317.24          315.14    NaN   NaN   NaN
4    1958      7     1958.5370   315.86          315.18    NaN   NaN   NaN
..    ...    ...           ...      ...             ...    ...   ...   ...
767  2022      2     2022.1250   419.28          418.32   27.0  0.92  0.34
768  2022      3     2022.2083   418.81          417.33   30.0  0.78  0.27
769  2022      4     2022.2917   420.23          417.56   28.0  0.85  0.31
770  2022      5     2022.3750   420.99          417.60   30.0  0.76  0.27
771  2022      6     2022.4583   420.99          418.56   28.0  0.30  0.11

[772 rows x 8 columns]

---------------------------------------------------------------------------------
Dataset euromed2k ['temperature', 'tree_ring', 'europe', 'summer']

      Year      Mean  Lower2sigma  Upper2sigma
0     -138 -0.037309     -0.85472      0.76376
1     -137 -0.029138     -0.92172      0.81199
2     -136 -0.066622     -0.91555      0.74954
3     -135 -0.435790     -1.27780      0.35291
4     -134 -0.503160     -1.32540      0.27134
...    ...       ...          ...          ...
2136  1999  0.789580      0.13234      1.57860
2137  2000  0.852750      0.21043      1.60250
2138  2001  0.947810      0.27156      1.81780
2139  2002  1.388100      0.73063      2.08610
2140  2003  2.262000      1.54560      2.93750

[2141 rows x 4 columns]

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_CH4_N20 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

,YearAD,CH4spl,GrwthRt,NOAA04,YearAD.1,CO2spl,GrwthRt.1,YearAD.2,N2Ospl,GrwthRt.2
0,1,647.6,-0.5,655.5,1.0,276.7,0.1,1.0,264.2,-0.1
1,2,647.1,-0.5,655.0,2.0,276.8,0.1,2.0,264.1,-0.1
2,3,646.5,-0.5,654.4,3.0,276.8,0.1,3.0,264.1,-0.1
3,4,646.0,-0.5,653.9,4.0,276.9,0.1,4.0,264.0,-0.1
4,5,645.5,-0.5,653.4,5.0,276.9,0.1,5.0,264.0,-0.1
...,...,...,...,...,...,...,...,...,...,...
1999,2000,1703.4,3.9,1724.2,2000.0,366.8,1.9,2000.0,315.4,0.8
2000,2001,1706.5,2.4,1727.3,2001.0,368.7,1.9,2001.0,316.2,0.8
2001,2002,1708.3,1.2,1729.1,2002.0,370.6,2.0,2002.0,317.0,0.8
2002,2003,1709.1,0.6,1730.0,2003.0,372.6,2.0,2003.0,317.8,0.8
2003,2004,1709.7,0.5,1730.5,2004.0,374.6,0.0,2004.0,318.6,0.0

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DSS_Eth1996 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CO2gasAge  CO2(ppm) Publication
0         DSS     1005.0     279.4     Eth1996
1         DSS     1036.8     280.3     Eth1996
2         DSS     1087.5     282.4     Eth1996
3         DSS     1136.8     283.8     Eth1996
4         DSS     1192.6     283.9     Eth1996
5         DSS     1246.3     281.7     Eth1996
6         DSS     1330.1     283.4     Eth1996
7         DSS     1390.5     280.4     Eth1996
8         DSS     1390.5     280.0     Eth1996
9         DSS     1449.1     281.7     Eth1996
10        DSS     1469.5     279.6     Eth1996
11        DSS     1501.5     282.4     Eth1996
12        DSS     1529.7     283.2     Eth1996
13        DSS     1549.7     282.8     Eth1996
14        DSS     1573.0     281.9     Eth1996
15        DSS     1591.1     278.7     Eth1996
16        DSS     1603.4     274.3     Eth1996
17        DSS     1649.2     277.2     Eth1996
18        DSS     1681.9     275.9     Eth1996
19        DSS     1694.1     276.5     Eth1996
20        DSS     1722.9     277.5     Eth1996
21        DSS     1749.2     276.9     Eth1996
22        DSS     1752.2     277.2     Eth1996
23        DSS     1762.8     276.7     Eth1996
24        DSS     1779.6     279.5     Eth1996
25        DSS     1796.1     281.6     Eth1996
26        DSS     1799.3     283.7     Eth1996
27        DSS     1826.9     285.1     Eth1996
28        DSS     1847.5     286.1     Eth1996
29        DSS     1892.1     294.7     Eth1996
30        DSS     1900.8     296.5     Eth1996
31        DSS     1904.8     299.0     Eth1996
32        DSS     1927.2     305.0     Eth1996
33        DSS     1927.8     305.2     Eth1996
34        DSS     1937.2     307.9     Eth1996
35        DSS     1939.1     309.2     Eth1996
36        DSS     1949.3     311.4     Eth1996
37        DSS     1955.2     313.6     Eth1996
38        DSS     1955.2     314.1     Eth1996
39        DSS     1955.2     314.7     Eth1996
40        DSS     1960.7     315.7     Eth1996

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DSS_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CO2gasAge  CO2(ppm)    Publication
0         DSS       13.3     276.7  MacFM20042006
1         DSS       29.5     277.9  MacFM20042006
2         DSS       56.0     277.4  MacFM20042006
3         DSS      104.5     277.5  MacFM20042006
4         DSS      136.0     278.1  MacFM20042006
..        ...        ...       ...            ...
58        DSS     1834.5     283.7  MacFM20042006
59        DSS     1838.0     284.1  MacFM20042006
60        DSS     1852.3     288.6  MacFM20042006
61        DSS     1869.1     287.7  MacFM20042006
62        DSS     1884.4     289.0  MacFM20042006

[63 rows x 4 columns]

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DE08-2_Eth1996 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CO2gasAge  CO2(ppm) Publication
0      DE08-2     1833.0     284.5     Eth1996
1      DE08-2     1935.0     309.2     Eth1996
2      DE08-2     1941.0     310.5     Eth1996
3      DE08-2     1949.0     309.9     Eth1996
4      DE08-2     1970.7     324.7     Eth1996
5      DE08-2     1971.2     325.2     Eth1996
6      DE08-2     1972.0     324.1     Eth1996
7      DE08-2     1974.0     328.1     Eth1996
8      DE08-2     1976.0     331.2     Eth1996
9      DE08-2     1979.0     332.0     Eth1996
10     DE08-2     1979.0     335.2     Eth1996

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DE08-2_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

  SampleType  CO2gasAge  CO2(ppm)    Publication
0     DE08-2     1896.0     298.2  MacFM20042006
1     DE08-2     1940.0     311.9  MacFM20042006
2     DE08-2     1941.5     310.3  MacFM20042006
3     DE08-2     1944.0     311.4  MacFM20042006
4     DE08-2     1944.0     312.1  MacFM20042006
5     DE08-2     1947.0     310.8  MacFM20042006
6     DE08-2     1967.0     322.9  MacFM20042006
7     DE08-2     1973.0     326.4  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DE08_Eth1996 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CO2gasAge  CO2(ppm) Publication
0        DE08     1841.0     283.0     Eth1996
1        DE08     1851.0     285.2     Eth1996
2        DE08     1855.0     284.9     Eth1996
3        DE08     1862.0     286.6     Eth1996
4        DE08     1870.0     287.4     Eth1996
5        DE08     1878.0     288.8     Eth1996
6        DE08     1883.0     291.9     Eth1996
7        DE08     1887.0     293.7     Eth1996
8        DE08     1893.0     294.6     Eth1996
9        DE08     1899.0     294.7     Eth1996
10       DE08     1906.0     296.9     Eth1996
11       DE08     1906.0     298.5     Eth1996
12       DE08     1913.0     300.7     Eth1996
13       DE08     1916.0     301.3     Eth1996
14       DE08     1925.0     304.1     Eth1996
15       DE08     1925.0     304.8     Eth1996
16       DE08     1933.0     307.8     Eth1996
17       DE08     1939.0     310.5     Eth1996
18       DE08     1940.0     311.0     Eth1996
19       DE08     1945.0     309.6     Eth1996
20       DE08     1954.0     311.0     Eth1996
21       DE08     1954.0     311.9     Eth1996
22       DE08     1954.0     312.7     Eth1996
23       DE08     1963.0     317.0     Eth1996
24       DE08     1963.0     317.0     Eth1996
25       DE08     1963.0     318.7     Eth1996
26       DE08     1963.0     319.4     Eth1996
27       DE08     1964.0     318.2     Eth1996
28       DE08     1966.0     318.8     Eth1996
29       DE08     1966.0     319.5     Eth1996
30       DE08     1969.0     323.7     Eth1996
31       DE08     1970.0     323.2     Eth1996

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DE08_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CO2gasAge  CO2(ppm)    Publication
0        DE08     1844.0     286.5  MacFM20042006
1        DE08     1846.0     283.3  MacFM20042006
2        DE08     1846.0     285.0  MacFM20042006
3        DE08     1849.0     287.7  MacFM20042006
4        DE08     1854.0     287.0  MacFM20042006
5        DE08     1859.0     286.5  MacFM20042006
6        DE08     1864.0     285.4  MacFM20042006
7        DE08     1867.0     285.2  MacFM20042006
8        DE08     1873.0     287.2  MacFM20042006
9        DE08     1874.0     290.5  MacFM20042006
10       DE08     1884.0     289.8  MacFM20042006
11       DE08     1886.0     290.6  MacFM20042006
12       DE08     1889.0     291.5  MacFM20042006
13       DE08     1889.0     292.2  MacFM20042006
14       DE08     1894.0     293.8  MacFM20042006
15       DE08     1899.0     296.0  MacFM20042006
16       DE08     1899.0     296.2  MacFM20042006
17       DE08     1902.0     295.7  MacFM20042006
18       DE08     1902.0     295.0  MacFM20042006
19       DE08     1904.0     295.1  MacFM20042006
20       DE08     1909.0     300.4  MacFM20042006
21       DE08     1911.5     298.4  MacFM20042006
22       DE08     1914.0     300.0  MacFM20042006
23       DE08     1914.0     300.7  MacFM20042006
24       DE08     1918.6     303.3  MacFM20042006
25       DE08     1919.0     303.6  MacFM20042006
26       DE08     1923.0     303.2  MacFM20042006
27       DE08     1923.6     305.2  MacFM20042006
28       DE08     1928.8     307.8  MacFM20042006
29       DE08     1929.0     305.7  MacFM20042006
30       DE08     1933.0     307.2  MacFM20042006
31       DE08     1934.5     307.8  MacFM20042006
32       DE08     1936.5     309.0  MacFM20042006
33       DE08     1938.0     309.6  MacFM20042006
34       DE08     1939.0     310.9  MacFM20042006
35       DE08     1941.0     310.7  MacFM20042006
36       DE08     1942.0     310.9  MacFM20042006
37       DE08     1942.0     311.6  MacFM20042006
38       DE08     1943.0     310.5  MacFM20042006
39       DE08     1943.0     311.0  MacFM20042006
40       DE08     1944.0     311.3  MacFM20042006
41       DE08     1945.0     309.7  MacFM20042006
42       DE08     1946.0     311.5  MacFM20042006
43       DE08     1947.0     310.0  MacFM20042006
44       DE08     1947.0     311.5  MacFM20042006
45       DE08     1948.0     310.5  MacFM20042006
46       DE08     1949.0     311.2  MacFM20042006
47       DE08     1950.0     312.6  MacFM20042006
48       DE08     1953.0     312.1  MacFM20042006
49       DE08     1954.0     311.7  MacFM20042006
50       DE08     1955.0     313.5  MacFM20042006
51       DE08     1955.0     313.8  MacFM20042006
52       DE08     1957.0     314.0  MacFM20042006
53       DE08     1958.0     314.4  MacFM20042006
54       DE08     1959.0     316.3  MacFM20042006
55       DE08     1964.0     319.0  MacFM20042006
56       DE08     1973.0     329.2  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_DSSW20Kfirn ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

    SampleType  CO2gasAge  CO2(ppm)
0  DSSW20Kfirn     1942.1     312.3
1  DSSW20Kfirn     1956.1     316.3
2  DSSW20Kfirn     1970.0     324.8
3  DSSW20Kfirn     1983.7     341.2
4  DSSW20Kfirn     1989.8     349.7
5  DSSW20Kfirn     1992.4     353.6
6  DSSW20Kfirn     1994.5     356.9
7  DSSW20Kfirn     1996.5     359.5

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_Core_CAPEGRIM ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CO2gasAge  CO2(ppm)
0    CAPEGRIM     1977.0     331.7
1    CAPEGRIM     1978.0     333.5
2    CAPEGRIM     1979.0     335.3
3    CAPEGRIM     1980.0     336.6
4    CAPEGRIM     1981.0     337.6
5    CAPEGRIM     1982.0     338.1
6    CAPEGRIM     1983.0     340.1
7    CAPEGRIM     1984.0     341.8
8    CAPEGRIM     1985.0     343.2
9    CAPEGRIM     1986.0     344.5
10   CAPEGRIM     1987.0     346.1
11   CAPEGRIM     1988.0     348.3
12   CAPEGRIM     1989.0     349.5
13   CAPEGRIM     1990.0     351.0
14   CAPEGRIM     1991.0     352.6
15   CAPEGRIM     1992.0     354.1
16   CAPEGRIM     1993.0     354.9
17   CAPEGRIM     1994.0     356.3
18   CAPEGRIM     1995.0     358.3
19   CAPEGRIM     1996.0     359.8
20   CAPEGRIM     1997.0     361.1
21   CAPEGRIM     1998.0     363.6
22   CAPEGRIM     1999.0     365.5
23   CAPEGRIM     2000.0     366.8
24   CAPEGRIM     2001.0     368.3
25   CAPEGRIM     2002.0     370.5
26   CAPEGRIM     2003.0     372.8
27   CAPEGRIM     2004.0     374.7
28   CAPEGRIM     2005.0     376.7
29   CAPEGRIM     2006.0     378.7

---------------------------------------------------------------------------------
Dataset LawDome2006_CO2_All ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

    SampleType  CO2gasAge  CO2(ppm)    Publication
0     CAPEGRIM     2006.0     378.7           None
1     CAPEGRIM     2005.0     376.7           None
2     CAPEGRIM     2004.0     374.7           None
3     CAPEGRIM     2003.0     372.8           None
4     CAPEGRIM     2002.0     370.5           None
..         ...        ...       ...            ...
245        DSS      136.0     278.1  MacFM20042006
246        DSS      104.5     277.5  MacFM20042006
247        DSS       56.0     277.4  MacFM20042006
248        DSS       29.5     277.9  MacFM20042006
249        DSS       13.3     276.7  MacFM20042006

[250 rows x 4 columns]

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DSS_Eth1996 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CH4gasAge  CH4(ppb)  NOAA04 Publication
0         DSS     1006.0     666.0   674.2     Eth1998
1         DSS     1037.8     677.8   686.0     Eth1998
2         DSS     1088.5     676.4   684.6     Eth1998
3         DSS     1137.8     685.9   694.2     Eth1998
4         DSS     1193.6     683.7   692.1     Eth1998
5         DSS     1247.3     660.9   668.9     Eth1998
6         DSS     1331.1     672.9   681.1     Eth1998
7         DSS     1391.5     678.9   687.1     Eth1998
8         DSS     1391.5     676.3   684.5     Eth1998
9         DSS     1450.1     681.5   689.9     Eth1998
10        DSS     1470.5     671.4   679.6     Eth1998
11        DSS     1502.5     693.0   701.4     Eth1998
12        DSS     1530.7     698.9   707.4     Eth1998
13        DSS     1550.7     704.3   712.9     Eth1998
14        DSS     1574.0     684.8   693.1     Eth1998
15        DSS     1592.1     665.4   673.5     Eth1998
16        DSS     1604.4     667.7   675.8     Eth1998
17        DSS     1624.0     679.4   687.7     Eth1998
18        DSS     1650.2     674.6   682.8     Eth1998
19        DSS     1682.9     692.0   700.5     Eth1998
20        DSS     1695.1     676.1   684.4     Eth1998
21        DSS     1723.9     671.9   680.1     Eth1998
22        DSS     1753.2     696.9   705.4     Eth1998
23        DSS     1763.8     703.1   711.7     Eth1998
24        DSS     1780.6     714.4   723.1     Eth1998
25        DSS     1797.1     716.9   725.6     Eth1998
26        DSS     1800.3     728.5   737.4     Eth1998
27        DSS     1827.9     755.8   765.1     Eth1998
28        DSS     1848.5     763.7   773.0     Eth1998
29        DSS     1893.1     836.8   847.0     Eth1998
30        DSS     1901.8     868.4   879.0     Eth1998
31        DSS     1905.8     891.0   901.8     Eth1998
32        DSS     1928.2     997.0  1009.2     Eth1998
33        DSS     1928.8    1006.4  1018.7     Eth1998
34        DSS     1938.2    1053.0  1065.9     Eth1998
35        DSS     1941.0    1055.7  1068.6     Eth1998
36        DSS     1944.0    1082.5  1095.7     Eth1998
37        DSS     1950.3    1103.7  1117.1     Eth1998
38        DSS     1956.2    1164.3  1178.5     Eth1998
39        DSS     1956.2    1171.8  1186.1     Eth1998
40        DSS     1956.2    1183.8  1198.3     Eth1998
41        DSS     1957.0    1179.5  1193.9     Eth1998
42        DSS     1957.0    1186.4  1200.9     Eth1998
43        DSS     1961.7    1218.5  1233.3     Eth1998
44        DSS     1967.0    1288.5  1304.2     Eth1998
45        DSS     1973.2    1421.5  1438.8     Eth1998

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DSS_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CH4gasAge  CH4(ppb)  NOAA04    Publication
0         DSS       14.3     647.6   655.5  MacFM20042006
1         DSS       30.5     633.9   641.6  MacFM20042006
2         DSS       57.0     628.4   636.1  MacFM20042006
3         DSS      105.5     632.0   639.7  MacFM20042006
4         DSS      137.0     638.8   646.6  MacFM20042006
..        ...        ...       ...     ...            ...
66        DSS     1835.5     767.3   776.7  MacFM20042006
67        DSS     1839.0     765.0   774.3  MacFM20042006
68        DSS     1853.3     775.4   784.8  MacFM20042006
69        DSS     1870.1     802.1   811.9  MacFM20042006
70        DSS     1885.4     845.7   856.0  MacFM20042006

[71 rows x 5 columns]

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DE08-2_Eth1996 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CH4gasAge  CH4(ppb)  NOAA04 Publication
0      DE08-2     1834.0     756.3   765.5     Eth1998
1      DE08-2     1936.0    1045.2  1058.0     Eth1998
2      DE08-2     1942.0    1069.1  1082.1     Eth1998
3      DE08-2     1950.0    1102.9  1116.3     Eth1998
4      DE08-2     1971.7    1380.3  1397.1     Eth1998
5      DE08-2     1972.2    1379.9  1396.7     Eth1998
6      DE08-2     1973.0    1385.8  1402.7     Eth1998
7      DE08-2     1975.0    1420.4  1437.8     Eth1998
8      DE08-2     1977.0    1458.1  1475.9     Eth1998
9      DE08-2     1980.0    1479.3  1497.4     Eth1998
10     DE08-2     1980.0    1479.9  1497.9     Eth1998

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DE08-2_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

  SampleType  CH4gasAge  CH4(ppb)  NOAA04    Publication
0     DE08-2     1845.0     778.0   787.5  MacFM20042006
1     DE08-2     1850.0     806.5   816.4  MacFM20042006
2     DE08-2     1897.0     850.7   861.1  MacFM20042006
3     DE08-2     1941.0    1060.1  1073.0  MacFM20042006
4     DE08-2     1942.5    1085.5  1098.7  MacFM20042006
5     DE08-2     1945.0    1072.9  1086.0  MacFM20042006
6     DE08-2     1945.0    1079.9  1093.0  MacFM20042006
7     DE08-2     1948.0    1094.4  1107.7  MacFM20042006
8     DE08-2     1968.0    1306.6  1322.5  MacFM20042006
9     DE08-2     1973.5    1404.6  1421.7  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DE08_Eth1996 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CH4gasAge  CH4(ppb)  NOAA04 Publication
0        DE08     1852.0     785.5   795.1     Eth1998
1        DE08     1856.0     775.9   785.4     Eth1998
2        DE08     1863.0     789.9   799.5     Eth1998
3        DE08     1871.0     811.9   821.8     Eth1998
4        DE08     1879.0     822.3   832.3     Eth1998
5        DE08     1884.0     828.5   838.6     Eth1998
6        DE08     1888.0     833.6   843.8     Eth1998
7        DE08     1894.0     852.3   862.7     Eth1998
8        DE08     1900.0     868.2   878.8     Eth1998
9        DE08     1907.0     885.3   896.1     Eth1998
10       DE08     1914.0     921.6   932.8     Eth1998
11       DE08     1917.0     929.9   941.2     Eth1998
12       DE08     1926.0     989.0  1001.0     Eth1998
13       DE08     1926.0     991.1  1003.2     Eth1998
14       DE08     1934.0    1023.2  1035.7     Eth1998
15       DE08     1940.0    1059.9  1072.9     Eth1998
16       DE08     1941.0    1062.2  1075.1     Eth1998
17       DE08     1946.0    1081.8  1095.0     Eth1998
18       DE08     1955.0    1140.0  1153.9     Eth1998
19       DE08     1955.0    1143.5  1157.5     Eth1998
20       DE08     1955.0    1145.3  1159.2     Eth1998
21       DE08     1964.0    1248.6  1263.8     Eth1998
22       DE08     1964.0    1258.7  1274.1     Eth1998
23       DE08     1964.0    1260.6  1276.0     Eth1998
24       DE08     1964.0    1273.3  1288.8     Eth1998
25       DE08     1965.0    1261.3  1276.7     Eth1998
26       DE08     1967.0    1278.4  1294.0     Eth1998
27       DE08     1967.0    1285.2  1300.8     Eth1998
28       DE08     1970.0    1351.7  1368.2     Eth1998
29       DE08     1971.0    1357.2  1373.8     Eth1998

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DE08_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CH4gasAge  CH4(ppb)  NOAA04    Publication
0        DE08     1835.0     750.6   759.7  MacFM20042006
1        DE08     1842.0     766.9   776.3  MacFM20042006
2        DE08     1847.0     769.0   778.4  MacFM20042006
3        DE08     1847.0     770.4   779.8  MacFM20042006
4        DE08     1855.0     786.4   796.0  MacFM20042006
5        DE08     1860.0     786.2   795.8  MacFM20042006
6        DE08     1865.0     804.1   813.9  MacFM20042006
7        DE08     1868.0     815.8   825.8  MacFM20042006
8        DE08     1874.0     817.0   826.9  MacFM20042006
9        DE08     1875.0     822.1   832.1  MacFM20042006
10       DE08     1885.0     837.2   847.5  MacFM20042006
11       DE08     1887.0     841.6   851.8  MacFM20042006
12       DE08     1890.0     843.5   853.8  MacFM20042006
13       DE08     1890.0     844.0   854.3  MacFM20042006
14       DE08     1895.0     857.4   867.9  MacFM20042006
15       DE08     1900.0     862.4   872.9  MacFM20042006
16       DE08     1900.0     869.0   879.6  MacFM20042006
17       DE08     1903.0     867.0   877.6  MacFM20042006
18       DE08     1903.0     868.7   879.2  MacFM20042006
19       DE08     1905.0     884.5   895.3  MacFM20042006
20       DE08     1910.0     934.5   945.9  MacFM20042006
21       DE08     1912.5     916.2   927.4  MacFM20042006
22       DE08     1915.0     916.7   927.9  MacFM20042006
23       DE08     1915.0     925.5   936.8  MacFM20042006
24       DE08     1919.6     959.3   971.0  MacFM20042006
25       DE08     1920.0     960.8   972.5  MacFM20042006
26       DE08     1924.0     980.2   992.1  MacFM20042006
27       DE08     1924.6     993.1  1005.2  MacFM20042006
28       DE08     1929.8    1014.7  1027.1  MacFM20042006
29       DE08     1930.0    1011.6  1023.9  MacFM20042006
30       DE08     1934.0    1029.0  1041.5  MacFM20042006
31       DE08     1935.5    1040.9  1053.6  MacFM20042006
32       DE08     1937.5    1052.4  1065.3  MacFM20042006
33       DE08     1939.0    1058.2  1071.2  MacFM20042006
34       DE08     1939.0    1059.1  1072.0  MacFM20042006
35       DE08     1940.0    1063.3  1076.3  MacFM20042006
36       DE08     1942.0    1072.8  1085.9  MacFM20042006
37       DE08     1943.0    1069.5  1082.5  MacFM20042006
38       DE08     1943.0    1071.1  1084.2  MacFM20042006
39       DE08     1944.0    1075.6  1088.7  MacFM20042006
40       DE08     1944.0    1075.7  1088.8  MacFM20042006
41       DE08     1945.0    1076.6  1089.7  MacFM20042006
42       DE08     1946.0    1082.8  1096.0  MacFM20042006
43       DE08     1947.0    1080.5  1093.7  MacFM20042006
44       DE08     1948.0    1090.9  1104.2  MacFM20042006
45       DE08     1948.0    1091.5  1104.9  MacFM20042006
46       DE08     1949.0    1097.5  1110.9  MacFM20042006
47       DE08     1950.0    1108.5  1122.0  MacFM20042006
48       DE08     1951.0    1106.5  1120.0  MacFM20042006
49       DE08     1953.0    1130.2  1144.0  MacFM20042006
50       DE08     1953.0    1131.0  1144.8  MacFM20042006
51       DE08     1954.0    1137.6  1151.5  MacFM20042006
52       DE08     1955.0    1139.5  1153.4  MacFM20042006
53       DE08     1956.0    1151.1  1165.2  MacFM20042006
54       DE08     1956.0    1162.2  1176.4  MacFM20042006
55       DE08     1958.0    1174.0  1188.3  MacFM20042006
56       DE08     1959.0    1191.7  1206.2  MacFM20042006
57       DE08     1960.0    1205.9  1220.6  MacFM20042006
58       DE08     1965.0    1260.7  1276.1  MacFM20042006
59       DE08     1974.0    1399.6  1416.6  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_DSSW20Kfirn ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

    SampleType  CH4gasAge  CH4(ppb)  NOAA04
0  DSSW20Kfirn     1944.2    1072.3  1085.4
1  DSSW20Kfirn     1958.3    1177.1  1191.5
2  DSSW20Kfirn     1972.1    1352.3  1368.8
3  DSSW20Kfirn     1985.8    1568.9  1588.0
4  DSSW20Kfirn     1991.5    1643.5  1663.6
5  DSSW20Kfirn     1993.6    1662.8  1683.1
6  DSSW20Kfirn     1995.3    1681.6  1702.1

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_Core_CAPEGRIM ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  CH4gasAge  CH4(ppb)  NOAA04
0    CAPEGRIM     1978.3    1468.8  1486.7
1    CAPEGRIM     1978.5    1472.3  1490.3
2    CAPEGRIM     1979.1    1490.4  1508.6
3    CAPEGRIM     1980.7    1508.7  1527.2
4    CAPEGRIM     1981.8    1533.8  1552.5
..        ...        ...       ...     ...
91   CAPEGRIM     2003.2    1706.2  1727.0
92   CAPEGRIM     2003.2    1707.2  1728.1
93   CAPEGRIM     2003.4    1709.7  1730.5
94   CAPEGRIM     2004.1    1707.3  1728.1
95   CAPEGRIM     2004.5    1708.8  1729.7

[96 rows x 4 columns]

---------------------------------------------------------------------------------
Dataset LawDome2006_CH4_All ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

    SampleType  CH4gasAge  CH4(ppb)  NOAA04    Publication
0     CAPEGRIM     2004.5    1708.8  1729.7           None
1     CAPEGRIM     2004.1    1707.3  1728.1           None
2     CAPEGRIM     2003.4    1709.7  1730.5           None
3     CAPEGRIM     2003.2    1707.2  1728.1           None
4     CAPEGRIM     2003.2    1706.2  1727.0           None
..         ...        ...       ...     ...            ...
326        DSS      137.0     638.8   646.6  MacFM20042006
327        DSS      105.5     632.0   639.7  MacFM20042006
328        DSS       57.0     628.4   636.1  MacFM20042006
329        DSS       30.5     633.9   641.6  MacFM20042006
330        DSS       14.3     647.6   655.5  MacFM20042006

[331 rows x 5 columns]

---------------------------------------------------------------------------------
Dataset LawDome2006_N20_Core_DSS_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  N2OgasAge  N2O(ppb)    Publication
0         DSS       13.3     264.2  MacFM20042006
1         DSS       29.5     263.1  MacFM20042006
2         DSS       56.0     264.2  MacFM20042006
3         DSS      136.0     266.1  MacFM20042006
4         DSS      168.3     265.1  MacFM20042006
5         DSS      227.9     268.3  MacFM20042006
6         DSS      302.3     262.3  MacFM20042006
7         DSS      329.2     261.4  MacFM20042006
8         DSS      364.6     263.8  MacFM20042006
9         DSS      428.4     263.5  MacFM20042006
10        DSS      499.8     261.7  MacFM20042006
11        DSS      536.7     260.2  MacFM20042006
12        DSS      572.0     264.7  MacFM20042006
13        DSS      595.6     261.1  MacFM20042006
14        DSS      632.0     262.3  MacFM20042006
15        DSS      667.9     261.2  MacFM20042006
16        DSS      799.2     270.7  MacFM20042006
17        DSS      857.3     269.4  MacFM20042006
18        DSS      897.4     272.1  MacFM20042006
19        DSS      968.2     266.8  MacFM20042006
20        DSS     1105.4     268.3  MacFM20042006
21        DSS     1207.4     267.7  MacFM20042006
22        DSS     1257.6     267.6  MacFM20042006
23        DSS     1330.1     269.7  MacFM20042006
24        DSS     1411.3     266.2  MacFM20042006
25        DSS     1449.1     267.0  MacFM20042006
26        DSS     1458.9     266.5  MacFM20042006
27        DSS     1501.5     268.5  MacFM20042006
28        DSS     1529.7     272.7  MacFM20042006
29        DSS     1535.3     270.6  MacFM20042006
30        DSS     1549.7     270.1  MacFM20042006
31        DSS     1560.4     270.1  MacFM20042006
32        DSS     1573.0     269.6  MacFM20042006
33        DSS     1591.1     268.3  MacFM20042006
34        DSS     1610.4     266.2  MacFM20042006
35        DSS     1666.7     267.0  MacFM20042006
36        DSS     1681.9     270.1  MacFM20042006
37        DSS     1722.9     269.8  MacFM20042006
38        DSS     1749.2     270.9  MacFM20042006
39        DSS     1762.8     274.8  MacFM20042006
40        DSS     1763.5     273.8  MacFM20042006
41        DSS     1794.4     271.9  MacFM20042006
42        DSS     1796.1     272.3  MacFM20042006
43        DSS     1799.3     272.7  MacFM20042006
44        DSS     1814.2     271.3  MacFM20042006
45        DSS     1836.3     268.1  MacFM20042006
46        DSS     1900.8     277.0  MacFM20042006
47        DSS     1904.8     279.7  MacFM20042006
48        DSS     1927.2     283.1  MacFM20042006
49        DSS     1948.0     288.0  MacFM20042006
50        DSS     1949.3     288.0  MacFM20042006
51        DSS     1960.7     291.1  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_N20_Core_DSS08-2_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

  SampleType  N2OgasAge  N2O(ppb)    Publication
0     DE08-2     1833.0     273.1  MacFM20042006
1     DE08-2     1935.0     288.7  MacFM20042006
2     DE08-2     1941.0     289.9  MacFM20042006
3     DE08-2     1949.0     290.3  MacFM20042006
4     DE08-2     1970.7     296.4  MacFM20042006
5     DE08-2     1972.0     298.4  MacFM20042006
6     DE08-2     1974.0     297.1  MacFM20042006
7     DE08-2     1976.0     300.0  MacFM20042006
8     DE08-2     1979.0     300.3  MacFM20042006
9     DE08-2     1979.0     304.5  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_N20_Core_DSS08_MacFM20042006 ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  N2OgasAge  N2O(ppb)    Publication
0        DE08     1841.0     270.4  MacFM20042006
1        DE08     1846.0     270.5  MacFM20042006
2        DE08     1855.0     270.5  MacFM20042006
3        DE08     1862.0     272.3  MacFM20042006
4        DE08     1864.0     272.1  MacFM20042006
5        DE08     1870.0     272.9  MacFM20042006
6        DE08     1873.0     272.6  MacFM20042006
7        DE08     1878.0     275.8  MacFM20042006
8        DE08     1883.0     275.9  MacFM20042006
9        DE08     1887.0     278.3  MacFM20042006
10       DE08     1893.0     277.5  MacFM20042006
11       DE08     1894.0     278.8  MacFM20042006
12       DE08     1899.0     276.7  MacFM20042006
13       DE08     1902.0     276.4  MacFM20042006
14       DE08     1911.5     280.8  MacFM20042006
15       DE08     1913.0     282.4  MacFM20042006
16       DE08     1916.0     282.2  MacFM20042006
17       DE08     1918.6     285.5  MacFM20042006
18       DE08     1923.6     286.5  MacFM20042006
19       DE08     1925.0     283.0  MacFM20042006
20       DE08     1925.0     283.5  MacFM20042006
21       DE08     1929.0     285.5  MacFM20042006
22       DE08     1933.0     285.3  MacFM20042006
23       DE08     1938.0     285.1  MacFM20042006
24       DE08     1939.0     286.5  MacFM20042006
25       DE08     1940.0     287.9  MacFM20042006
26       DE08     1945.0     286.8  MacFM20042006
27       DE08     1945.0     287.6  MacFM20042006
28       DE08     1949.0     286.9  MacFM20042006
29       DE08     1950.0     287.3  MacFM20042006
30       DE08     1953.0     286.3  MacFM20042006
31       DE08     1954.0     288.3  MacFM20042006
32       DE08     1955.0     290.3  MacFM20042006
33       DE08     1957.0     292.2  MacFM20042006
34       DE08     1958.0     292.2  MacFM20042006
35       DE08     1959.0     292.8  MacFM20042006
36       DE08     1963.0     294.4  MacFM20042006
37       DE08     1964.0     293.4  MacFM20042006
38       DE08     1966.0     292.5  MacFM20042006
39       DE08     1966.0     292.5  MacFM20042006
40       DE08     1969.0     292.9  MacFM20042006

---------------------------------------------------------------------------------
Dataset LawDome2006_N20_Core_DSSW20Kfirn ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

    SampleType  N2OgasAge  N2O(ppb)
0  DSSW20Kfirn     1942.1     288.7
1  DSSW20Kfirn     1962.9     291.2
2  DSSW20Kfirn     1970.0     295.3
3  DSSW20Kfirn     1983.7     303.6
4  DSSW20Kfirn     1989.8     307.5
5  DSSW20Kfirn     1992.4     309.6
6  DSSW20Kfirn     1994.5     310.9
7  DSSW20Kfirn     1996.5     312.3

---------------------------------------------------------------------------------
Dataset LawDome2006_N20_Core_CAPEGRIM ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

   SampleType  N2OgasAge  N2O(ppb)
0    CAPEGRIM       1993     310.0
1    CAPEGRIM       1994     310.5
2    CAPEGRIM       1995     311.1
3    CAPEGRIM       1996     311.8
4    CAPEGRIM       1997     312.9
5    CAPEGRIM       1998     313.7
6    CAPEGRIM       1999     314.7
7    CAPEGRIM       2000     315.6
8    CAPEGRIM       2001     316.2
9    CAPEGRIM       2002     317.0
10   CAPEGRIM       2003     317.5
11   CAPEGRIM       2004     318.7

---------------------------------------------------------------------------------
Dataset LawDome2006_N20_All ['co2', 'ch4', 'n20', 'icecore', 'antarctica']

    SampleType  N2OgasAge  N2O(ppb)    Publication
0     CAPEGRIM     2004.0     318.7           None
1     CAPEGRIM     2003.0     317.5           None
2     CAPEGRIM     2002.0     317.0           None
3     CAPEGRIM     2001.0     316.2           None
4     CAPEGRIM     2000.0     315.6           None
..         ...        ...       ...            ...
118        DSS      168.3     265.1  MacFM20042006
119        DSS      136.0     266.1  MacFM20042006
120        DSS       56.0     264.2  MacFM20042006
121        DSS       29.5     263.1  MacFM20042006
122        DSS       13.3     264.2  MacFM20042006

[123 rows x 4 columns]

---------------------------------------------------------------------------------
Dataset MaunaLoaWeeklyHistoricalCO2 ['co2', 'mauna_loa', 'direct_measurement']

,year,month,day,decimal,average,ndays,1 year ago,10 years ago,increase since 1800
0,1974,5,19,1974.3795,333.37,5,NaN,NaN,50.40
1,1974,5,26,1974.3986,332.95,6,NaN,NaN,50.06
2,1974,6,2,1974.4178,332.35,5,NaN,NaN,49.60
3,1974,6,9,1974.4370,332.20,7,NaN,NaN,49.65
4,1974,6,16,1974.4562,332.37,7,NaN,NaN,50.06
...,...,...,...,...,...,...,...,...,...
2507,2022,6,5,2022.4260,421.30,6,419.61,395.92,138.40
2508,2022,6,12,2022.4452,421.03,6,419.00,396.07,138.50
2509,2022,6,19,2022.4644,420.87,7,418.62,395.92,138.77
2510,2022,6,26,2022.4836,420.31,7,418.14,395.36,138.69
2511,2022,7,3,2022.5027,419.73,6,417.49,395.15,138.61

---------------------------------------------------------------------------------
Dataset geologictimescale ['time_interval_names']

,Eonothem/Eon,Erathem/Era,System/Period,Series/Epoch,Stage/Age,Major events,"Start, million years ago[note 7]"
0,Phanerozoic,Cenozoic[note 4],Quaternary,Holocene,Meghalayan,"4.2-kiloyear event, Austronesian expansion, in...",0.0042 *
1,Phanerozoic,Cenozoic[note 4],Quaternary,Holocene,Northgrippian,"8.2-kiloyear event, Holocene climatic optimum....",0.0082 *
2,Phanerozoic,Cenozoic[note 4],Quaternary,Holocene,Greenlandian,Climate stabilizes. Current interglacial and H...,0.0117 ± 0.000099 *
3,Phanerozoic,Cenozoic[note 4],Quaternary,Pleistocene,Upper/Late ('Tarantian'),"Eemian interglacial, last glacial period, endi...",0.129
4,Phanerozoic,Cenozoic[note 4],Quaternary,Pleistocene,Chibanian,"Mid-Pleistocene Transition occurs, high amplit...",0.774 *
...,...,...,...,...,...,...,...
112,Archean,Neoarchean,Stabilization of most modern cratons; possible...,Stabilization of most modern cratons; possible...,Stabilization of most modern cratons; possible...,Stabilization of most modern cratons; possible...,2800 [note 11]
113,Archean,Mesoarchean,First stromatolites (probably colonial phototr...,First stromatolites (probably colonial phototr...,First stromatolites (probably colonial phototr...,First stromatolites (probably colonial phototr...,3200 [note 11]
114,Archean,Paleoarchean,Prokaryotic archaea (e.g. methanogens) and bac...,Prokaryotic archaea (e.g. methanogens) and bac...,Prokaryotic archaea (e.g. methanogens) and bac...,Prokaryotic archaea (e.g. methanogens) and bac...,3600 [note 11]
115,Archean,Eoarchean,First uncontroversial living organisms: at fir...,First uncontroversial living organisms: at fir...,First uncontroversial living organisms: at fir...,First uncontroversial living organisms: at fir...,4000 [note 11]
116,Hadean[note 13],Formation of protolith of the oldest known roc...,Formation of protolith of the oldest known roc...,Formation of protolith of the oldest known roc...,Formation of protolith of the oldest known roc...,Formation of protolith of the oldest known roc...,~4600 [note 11]

---------------------------------------------------------------------------------
Dataset germany_june_meantemp ['temperature', 'germany', 'direct_measurement', 'summer']

,Jahr,Monat,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland,Unnamed: 19
0,1881,6,15.73,15.71,15.30,14.65,15.30,15.08,14.90,14.90,15.37,15.56,14.80,15.83,14.52,15.46,15.07,14.59,15.08,NaN
1,1882,6,15.05,15.04,14.06,13.59,14.12,14.92,14.74,14.75,14.53,14.33,15.05,14.51,13.77,14.94,14.44,13.80,14.34,NaN
2,1883,6,17.38,17.36,15.72,15.47,16.33,16.32,16.26,16.26,16.52,16.40,15.92,16.58,16.52,17.23,16.72,16.07,16.23,NaN
3,1884,6,14.26,14.25,12.72,12.10,12.88,13.82,13.28,13.29,13.35,13.35,13.69,13.70,12.91,13.77,13.21,12.51,13.09,NaN
4,1885,6,17.87,17.84,17.16,16.65,16.42,16.16,16.08,16.07,16.57,16.90,15.26,17.27,17.10,17.21,16.75,16.18,16.67,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2018,6,18.80,18.79,17.70,17.44,17.84,17.63,17.54,17.54,17.51,17.92,16.94,18.16,17.76,18.57,18.06,17.39,17.73,NaN
138,2019,6,21.91,21.89,19.04,19.60,19.43,19.84,19.32,19.32,19.49,19.47,17.95,19.66,20.94,21.08,20.47,19.66,19.78,NaN
139,2020,6,18.48,18.45,15.98,15.79,16.64,17.13,17.47,17.48,17.33,16.77,16.87,16.81,17.18,18.10,17.32,16.31,16.89,NaN
140,2021,6,20.37,20.35,18.56,18.56,19.00,19.04,18.80,18.80,19.03,19.00,17.89,19.34,19.32,19.98,19.40,18.64,18.98,NaN
141,2022,6,19.46,19.44,18.77,18.65,18.38,17.55,17.52,17.51,17.77,18.55,16.20,18.89,18.94,19.21,18.84,18.35,18.33,NaN

---------------------------------------------------------------------------------
Dataset sunspots11000yrs ['sunspots']

      YearBP    SN  sigma
0      11405  37.4   20.7
1      11395  57.1   20.1
2      11385  89.0   32.1
3      11375  92.5   34.5
4      11365  75.2   29.9
...      ...   ...    ...
1131      95  48.7    8.5
1132      85  55.0   12.7
1133      75  40.0   13.3
1134      65  27.0    9.4
1135      55  28.7    9.9

[1136 rows x 3 columns]

---------------------------------------------------------------------------------
Dataset germany_august_meantemp ['temperature', 'germany', 'direct_measurement', 'summer']

,Jahr,Monat,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland,Unnamed: 19
0,1881,8,16.48,16.47,16.70,16.11,15.80,15.37,15.42,15.42,15.58,16.14,15.16,16.46,15.83,16.08,15.70,15.21,15.90,NaN
1,1882,8,15.89,15.88,14.84,14.03,14.63,15.73,15.14,15.15,15.05,15.05,15.68,15.34,14.36,15.26,14.67,13.92,14.89,NaN
2,1883,8,16.90,16.89,15.89,15.16,15.90,15.98,15.97,15.97,16.15,16.13,15.83,16.44,15.87,16.59,16.04,15.36,15.90,NaN
3,1884,8,17.54,17.52,17.27,16.24,16.97,17.05,17.23,17.23,17.66,17.57,17.06,17.99,16.53,17.25,16.71,16.02,17.01,NaN
4,1885,8,15.18,15.18,15.32,14.56,14.27,14.36,14.12,14.12,14.43,14.73,14.12,15.15,14.51,14.81,14.34,13.75,14.56,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2017,8,18.55,18.53,18.40,18.22,17.57,17.62,17.15,17.15,17.44,17.90,16.67,18.15,18.34,18.28,17.98,17.60,17.87,NaN
137,2018,8,20.94,20.92,20.00,19.91,19.95,19.73,19.36,19.36,19.57,19.83,18.59,19.84,20.68,20.67,20.27,19.75,19.91,NaN
138,2019,8,20.43,20.41,18.54,18.42,18.93,19.32,19.08,19.08,19.03,19.14,18.31,19.43,19.64,20.15,19.57,18.80,19.06,NaN
139,2020,8,21.10,21.08,19.43,18.93,20.01,19.92,20.16,20.16,20.38,20.56,19.55,20.94,20.22,20.97,20.38,19.63,19.95,NaN
140,2021,8,17.26,17.24,16.24,15.93,16.13,16.65,16.62,16.62,16.42,16.43,16.36,16.72,16.28,17.03,16.45,15.69,16.40,NaN

---------------------------------------------------------------------------------
Dataset germany_july_meantemp ['temperature', 'germany', 'direct_measurement', 'summer']

,Jahr,Monat,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland,Unnamed: 19
0,1881,7,19.19,19.16,19.08,18.40,18.77,17.92,18.40,18.40,19.04,19.01,17.45,19.29,18.25,19.09,18.62,18.04,18.60,NaN
1,1882,7,18.41,18.39,15.65,15.77,16.32,17.91,17.25,17.26,16.87,16.10,17.56,16.15,17.02,17.85,17.13,16.21,16.76,NaN
2,1883,7,18.29,18.27,15.99,15.86,16.22,17.69,16.83,16.84,16.44,16.16,17.17,16.24,17.08,17.61,16.94,16.10,16.66,NaN
3,1884,7,19.19,19.17,18.26,17.70,18.18,18.08,18.10,18.11,18.35,18.63,17.83,18.81,18.32,18.69,18.15,17.47,18.20,NaN
4,1885,7,18.50,18.49,17.42,16.94,16.83,17.67,17.14,17.15,17.32,17.22,17.20,17.53,17.27,17.87,17.20,16.35,17.30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2017,7,18.42,18.41,18.59,18.19,18.19,16.93,17.50,17.49,18.19,18.79,16.47,19.15,18.41,18.49,18.23,17.89,18.06,NaN
137,2018,7,20.94,20.93,20.11,19.45,20.79,20.23,20.25,20.25,20.91,21.02,19.63,21.39,20.16,21.15,20.66,20.03,20.29,NaN
138,2019,7,19.39,19.37,19.41,19.04,18.87,18.19,18.48,18.47,18.86,19.56,17.40,20.16,18.97,19.30,18.93,18.45,18.90,NaN
139,2020,7,18.21,18.20,18.76,18.08,17.90,16.69,16.62,16.62,17.20,18.55,15.77,19.04,18.20,18.08,17.83,17.50,17.69,NaN
140,2021,7,20.22,20.20,17.55,17.57,17.66,19.64,18.69,18.70,17.96,17.67,18.89,17.76,18.78,19.52,18.74,17.71,18.37,NaN

---------------------------------------------------------------------------------
Dataset sunspotsmonthlymean1749 ['sunspots', 'direct_measurement']

      Year  Month  FracYear  MonthlyMean  StdDev  ObsCount
0     1749      1  1749.042         96.7     NaN       NaN
1     1749      2  1749.123        104.3     NaN       NaN
2     1749      3  1749.204        116.7     NaN       NaN
3     1749      4  1749.288         92.8     NaN       NaN
4     1749      5  1749.371        141.7     NaN       NaN
...    ...    ...       ...          ...     ...       ...
3277  2022      2  2022.122         59.7    13.1    1044.0
3278  2022      3  2022.204         78.5    13.9    1277.0
3279  2022      4  2022.286         84.1    15.2    1237.0
3280  2022      5  2022.371         96.5    16.0    1250.0
3281  2022      6  2022.453         70.5    12.9    1219.0

[3282 rows x 6 columns]

---------------------------------------------------------------------------------
Dataset LawDome2018CO2 ['co2', 'icecore', 'antarctica']

         SampleID age_ice  age_CO2  CO2ppm  CO2err
0    DSSW20K 15.8    firn     1996  359.87    0.02
1      DSSW20K 29    firn     1994  357.24    0.04
2        DE08-2 0    firn     1993  354.60    0.02
3    DSSW20K 37.8    firn     1992  353.89    0.04
4       DE08-2 10    firn     1991  352.60    0.18
..            ...     ...      ...     ...     ...
316       DSS 082     214      274  280.20    2.50
317       DSS 131     206      266  278.40    0.60
318       DSS 132     181      241  280.40    0.60
319       DSS 134     115      175  277.70    0.40
320       DSS 135      94      154  278.20    0.40

[321 rows x 5 columns]

---------------------------------------------------------------------------------
Dataset DomeC2016CO2 ['co2', 'icecore', 'antarctica']

     Depth ice/snow [m]  Gas age [ka BP]  CO2 [ppmv]  CO2 std dev [±]
0               102.830            0.173       280.4              1.8
1               106.885            0.311       274.9              0.7
2               107.195            0.322       277.9              0.7
3               110.245            0.427       279.1              1.3
4               110.500            0.435       281.9              1.1
..                  ...              ...         ...              ...
178             567.030           20.646       186.5              0.3
179             569.745           20.897       184.7              1.2
180             572.530           21.156       186.1              0.4
181             576.325           21.511       185.7              1.3
182             578.105           21.676       184.4              0.8

[183 rows x 4 columns]

---------------------------------------------------------------------------------
Dataset gisp2icecoretemp ['temperature', 'icecore', 'greenland']

            Age  Temperature  (C)
0      0.095141     -31.5913  NaN
1      0.107130     -31.6220  NaN
2      0.113149     -31.6026  NaN
3      0.119205     -31.6002  NaN
4      0.119205     -31.5980  NaN
...         ...          ...  ...
1627  49.746000     -40.5505  NaN
1628  49.806000     -40.2651  NaN
1629  49.868000     -40.1018  NaN
1630  49.922000     -39.8165  NaN
1631  49.981000     -39.9694  NaN

[1632 rows x 3 columns]

---------------------------------------------------------------------------------
Dataset gisp2icecoreaccum ['temperature', 'icecore', 'greenland']

            Age  Accumulation
0      0.144043      0.244106
1      0.172852      0.246155
2      0.201660      0.248822
3      0.230469      0.249856
4      0.259277      0.249943
...         ...           ...
1692  48.888200      0.092122
1693  48.917000      0.091968
1694  48.945800      0.091857
1695  48.974600      0.091739
1696  49.003400      0.091599

[1697 rows x 2 columns]

---------------------------------------------------------------------------------
Dataset CenozoicCO2 ['co2']

,proxy,first_author_last_name,publication_year,doi,age_ka,Age_uncertainty_pos_ka,Age_uncertainty_neg_ka,CO2_ppm,CO2_uncertainty_pos_ppm,CO2_uncertainty_neg_ppm,...,cloud,cloud_err,N_cloud_err,LAI,LAI_err,N_LAI_err,attenuation,atten_err,N_atten_err,general notes
0,liverworts,Fletcher,2008,10.1038/ngeo.2007.29 and 10.1111/j.1472-4669.2...,52200,3600.0,3600.0,1967,1534,875,...,0.55,NaN,taken from Fletcher et al. (2008); no error is...,NaN,NaN,taken from Fletcher et al. (2008); the combine...,0.5,NaN,taken from Fletcher et al. (2008); no error is...,Inputs measured but CO2 not reported in Fletch...
1,liverworts,Fletcher,2008,10.1038/ngeo.2007.29,60400,4600.0,4600.0,683,199,201,...,0.55,NaN,taken from Fletcher et al. (2008); no error is...,NaN,NaN,taken from Fletcher et al. (2008); the combine...,0.5,NaN,taken from Fletcher et al. (2008); no error is...,data doi: and 10.1111/j.1472-4669.2012.00320.x

---------------------------------------------------------------------------------
Dataset CenozoicCO2Filtered ['co2']

,age_ka,Age_uncertainty_pos_ka,Age_uncertainty_neg_ka,CO2_ppm,CO2_uncertainty_pos_ppm,CO2_uncertainty_neg_ppm
0,52200,3600.0,3600.0,1967,1534,875
1,60400,4600.0,4600.0,683,199,201

In [ ]:
em2k=dfs['euromed2k']['data'].to_numpy()
gjmt6=dfs['germany_june_meantemp']['data'].to_numpy()
gjmt7=dfs['germany_july_meantemp']['data'].to_numpy()
gjmt8=dfs['germany_august_meantemp']['data'].to_numpy()
sunsp=dfs['sunspots11000yrs']['data'].to_numpy()
sunsp1749=dfs['sunspotsmonthlymean1749']['data'].to_numpy()

In [ ]:
sunsp[:,0]=1950-sunsp[:,0]

In [ ]:
gjmt=(gjmt6[:-1,:]+gjmt7+gjmt8)/3.0

In [ ]:
np.mean(gjmt[:,2])

In [ ]:
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n

In [ ]:
gjmean=np.mean(gjmt[:,2])

In [ ]:
win=10
em2kmat=moving_average(em2k[:,1],2*win+1)
gjmtmat=moving_average(gjmt[:,2]-gjmean,2*win+1)

In [ ]:
sunma=moving_average(sunsp[:,1],2*win+1)
sunman=moving_average(sunsp1749[:,3],20*win+1)

In [ ]:
sunman

In [ ]:
sunman.shape, sunsp1749.shape

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [14,8]  # inch! :-/

In [ ]:
plt.plot(gjmt[:,0],gjmt[:,2]-gjmean)
plt.plot(em2k[:,0],em2k[:,1])
plt.plot(sunsp[-200:,0],sunsp[-200:,1]/60-0.4)
plt.plot(sunsp1749[10*win:-10*win,2],sunman/200)

In [ ]:
# plt.plot(dfnp[:,0],dfnp[:,1])
plt.plot(gjmt[win:-win,0],gjmtmat)
plt.plot(em2k[win:-win,0],em2kmat)
plt.plot(sunsp[-200:,0],sunsp[-200:,1]/80-0.5) # sunma[-200:]/50-0.5)
plt.plot(sunsp1749[10*win:-10*win,2],sunman/200-0.5)

In [ ]:
plt.plot(em2k[-120+win:-win,0],em2kmat[-120+win:-win])
plt.plot(gjmt[win:-win,0],gjmtmat)
plt.plot(sunsp[-20:,0],sunsp[-20:,1]/80-0.5) # sunma[-20:]/50-0.5)
plt.plot(sunsp1749[10*win:-10*win,2],sunman/200-0.5)

In [ ]:
a=-1500
b=-1400
plt.plot(em2k[a:b,0],em2k[a:b,1])
plt.plot(gjmt[a:b,0],gjmtmat[a-win:b-win])