In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/Geologic_time_scale'

In [4]:
tables=pd.read_html(url)

In [5]:
print(len(tables))

23

In [9]:
tables[3].head()

,Name,Time Span,Etymology of name
0,Quaternary,2.6 to 0 million years ago,First introduced by Jules Desnoyers in 1829 fo...
1,Neogene,23 to 2.6 million years ago,Derived from the Greek words νέος (néos) meani...
2,Paleogene,66 to 23 million years ago,Derived from the Greek words παλιός (palaiós) ...
3,Cretaceous,145 to 66 million years ago,Derived from Terrain Crétacé used in 1822 by J...
4,Jurassic,201.3 to 145 million years ago,Named after the Jura Mountains. Originally use...

In [8]:
ice='GISP2 dataset from Alley (2000)'
url='ftp://ftp.ncdc.noaa.gov/pub/data/paleo/icecore/greenland/summit/gisp2/isotopes/gisp2_temp_accum_alley2000.txt'

In [10]:
import downloader

In [11]:
dl=downloader.Downloader()

In [23]:
raw=dl.get(url, transforms='decode')