In [45]:
import logging
import pandas as pd
import numpy as np

In [46]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [47]:
url='https://en.wikipedia.org/wiki/Geologic_time_scale'

In [48]:
tables=pd.read_html(url)

In [49]:
print(len(tables))

23

In [50]:
tables[3].head()

,Name,Time Span,Etymology of name
0,Quaternary,2.6 to 0 million years ago,First introduced by Jules Desnoyers in 1829 fo...
1,Neogene,23 to 2.6 million years ago,Derived from the Greek words νέος (néos) meani...
2,Paleogene,66 to 23 million years ago,Derived from the Greek words παλιός (palaiós) ...
3,Cretaceous,145 to 66 million years ago,Derived from Terrain Crétacé used in 1822 by J...
4,Jurassic,201.3 to 145 million years ago,Named after the Jura Mountains. Originally use...

In [67]:
logging.basicConfig(format='%(asctime)s %(levelname)s %(name)s %(message)s', level=logging.INFO)

In [83]:
import downloader

In [84]:
import download_datasets

In [85]:
dfs=download_datasets.get_datasets()

----------------------------------------------------------------------------------
Processing data_sources/EuropeanMeanTemperatureSinceRomanTime_EuroMed2k.toml
   Year      Mean  Lower2sigma  Upper2sigma
0  -138 -0.037309     -0.85472      0.76376
1  -137 -0.029138     -0.92172      0.81199
2  -136 -0.066622     -0.91555      0.74954
3  -135 -0.435790     -1.27780      0.35291
4  -134 -0.503160     -1.32540      0.27134
...
      Year     Mean  Lower2sigma  Upper2sigma
2136  1999  0.78958      0.13234       1.5786
2137  2000  0.85275      0.21043       1.6025
2138  2001  0.94781      0.27156       1.8178
2139  2002  1.38810      0.73063       2.0861
2140  2003  2.26200      1.54560       2.9375
>>> euromed2k
----------------------------------------------------------------------------------
Processing data_sources/DWDGermanJulyMeanTemperature.toml
   Jahr  Monat  Brandenburg/Berlin  Brandenburg  Baden-Wuerttemberg  Bayern  \
0  1881      7               19.19        19.16               19.08   18.40
1  1882      7               18.41        18.39               15.65   15.77
2  1883      7               18.29        18.27               15.99   15.86
3  1884      7               19.19        19.17               18.26   17.70
4  1885      7               18.50        18.49               17.42   16.94

   Hessen  Mecklenburg-Vorpommern  Niedersachsen  \
0   18.77                   17.92          18.40
1   16.32                   17.91          17.25
2   16.22                   17.69          16.83
3   18.18                   18.08          18.10
4   16.83                   17.67          17.14

   Niedersachsen/Hamburg/Bremen  Nordrhein-Westfalen  Rheinland-Pfalz  \
0                         18.40                19.04            19.01
1                         17.26                16.87            16.10
2                         16.84                16.44            16.16
3                         18.11                18.35            18.63
4                         17.15                17.32            17.22

   Schleswig-Holstein  Saarland  Sachsen  Sachsen-Anhalt  \
0               17.45     19.29    18.25           19.09
1               17.56     16.15    17.02           17.85
2               17.17     16.24    17.08           17.61
3               17.83     18.81    18.32           18.69
4               17.20     17.53    17.27           17.87

   Thueringen/Sachsen-Anhalt  Thueringen  Deutschland  Unnamed: 19
0                      18.62       18.04        18.60          NaN
1                      17.13       16.21        16.76          NaN
2                      16.94       16.10        16.66          NaN
3                      18.15       17.47        18.20          NaN
4                      17.20       16.35        17.30          NaN
...
     Jahr  Monat  Brandenburg/Berlin  Brandenburg  Baden-Wuerttemberg  Bayern  \
136  2017      7               18.42        18.41               18.59   18.19
137  2018      7               20.94        20.93               20.11   19.45
138  2019      7               19.39        19.37               19.41   19.04
139  2020      7               18.21        18.20               18.76   18.08
140  2021      7               20.22        20.20               17.55   17.57

     Hessen  Mecklenburg-Vorpommern  Niedersachsen  \
136   18.19                   16.93          17.50
137   20.79                   20.23          20.25
138   18.87                   18.19          18.48
139   17.90                   16.69          16.62
140   17.66                   19.64          18.69

     Niedersachsen/Hamburg/Bremen  Nordrhein-Westfalen  Rheinland-Pfalz  \
136                         17.49                18.19            18.79
137                         20.25                20.91            21.02
138                         18.47                18.86            19.56
139                         16.62                17.20            18.55
140                         18.70                17.96            17.67

     Schleswig-Holstein  Saarland  Sachsen  Sachsen-Anhalt  \
136               16.47     19.15    18.41           18.49
137               19.63     21.39    20.16           21.15
138               17.40     20.16    18.97           19.30
139               15.77     19.04    18.20           18.08
140               18.89     17.76    18.78           19.52

     Thueringen/Sachsen-Anhalt  Thueringen  Deutschland  Unnamed: 19
136                      18.23       17.89        18.06          NaN
137                      20.66       20.03        20.29          NaN
138                      18.93       18.45        18.90          NaN
139                      17.83       17.50        17.69          NaN
140                      18.74       17.71        18.37          NaN
>>> germany_july_meantemp
----------------------------------------------------------------------------------
Processing data_sources/DWDGermanJuneMeanTemperature.toml
   Jahr  Monat  Brandenburg/Berlin  Brandenburg  Baden-Wuerttemberg  Bayern  \
0  1881      6               15.73        15.71               15.30   14.65
1  1882      6               15.05        15.04               14.06   13.59
2  1883      6               17.38        17.36               15.72   15.47
3  1884      6               14.26        14.25               12.72   12.10
4  1885      6               17.87        17.84               17.16   16.65

   Hessen  Mecklenburg-Vorpommern  Niedersachsen  \
0   15.30                   15.08          14.90
1   14.12                   14.92          14.74
2   16.33                   16.32          16.26
3   12.88                   13.82          13.28
4   16.42                   16.16          16.08

   Niedersachsen/Hamburg/Bremen  Nordrhein-Westfalen  Rheinland-Pfalz  \
0                         14.90                15.37            15.56
1                         14.75                14.53            14.33
2                         16.26                16.52            16.40
3                         13.29                13.35            13.35
4                         16.07                16.57            16.90

   Schleswig-Holstein  Saarland  Sachsen  Sachsen-Anhalt  \
0               14.80     15.83    14.52           15.46
1               15.05     14.51    13.77           14.94
2               15.92     16.58    16.52           17.23
3               13.69     13.70    12.91           13.77
4               15.26     17.27    17.10           17.21

   Thueringen/Sachsen-Anhalt  Thueringen  Deutschland  Unnamed: 19
0                      15.07       14.59        15.08          NaN
1                      14.44       13.80        14.34          NaN
2                      16.72       16.07        16.23          NaN
3                      13.21       12.51        13.09          NaN
4                      16.75       16.18        16.67          NaN
...
     Jahr  Monat  Brandenburg/Berlin  Brandenburg  Baden-Wuerttemberg  Bayern  \
137  2018      6               18.80        18.79               17.70   17.44
138  2019      6               21.91        21.89               19.04   19.60
139  2020      6               18.48        18.45               15.98   15.79
140  2021      6               20.37        20.35               18.56   18.56
141  2022      6               19.46        19.44               18.77   18.65

     Hessen  Mecklenburg-Vorpommern  Niedersachsen  \
137   17.84                   17.63          17.54
138   19.43                   19.84          19.32
139   16.64                   17.13          17.47
140   19.00                   19.04          18.80
141   18.38                   17.55          17.52

     Niedersachsen/Hamburg/Bremen  Nordrhein-Westfalen  Rheinland-Pfalz  \
137                         17.54                17.51            17.92
138                         19.32                19.49            19.47
139                         17.48                17.33            16.77
140                         18.80                19.03            19.00
141                         17.51                17.77            18.55

     Schleswig-Holstein  Saarland  Sachsen  Sachsen-Anhalt  \
137               16.94     18.16    17.76           18.57
138               17.95     19.66    20.94           21.08
139               16.87     16.81    17.18           18.10
140               17.89     19.34    19.32           19.98
141               16.20     18.89    18.94           19.21

     Thueringen/Sachsen-Anhalt  Thueringen  Deutschland  Unnamed: 19
137                      18.06       17.39        17.73          NaN
138                      20.47       19.66        19.78          NaN
139                      17.32       16.31        16.89          NaN
140                      19.40       18.64        18.98          NaN
141                      18.84       18.35        18.33          NaN
>>> germany_june_meantemp
----------------------------------------------------------------------------------
Processing data_sources/DWDGermanAugustMeanTemperature.toml
   Jahr  Monat  Brandenburg/Berlin  Brandenburg  Baden-Wuerttemberg  Bayern  \
0  1881      8               16.48        16.47               16.70   16.11
1  1882      8               15.89        15.88               14.84   14.03
2  1883      8               16.90        16.89               15.89   15.16
3  1884      8               17.54        17.52               17.27   16.24
4  1885      8               15.18        15.18               15.32   14.56

   Hessen  Mecklenburg-Vorpommern  Niedersachsen  \
0   15.80                   15.37          15.42
1   14.63                   15.73          15.14
2   15.90                   15.98          15.97
3   16.97                   17.05          17.23
4   14.27                   14.36          14.12

   Niedersachsen/Hamburg/Bremen  Nordrhein-Westfalen  Rheinland-Pfalz  \
0                         15.42                15.58            16.14
1                         15.15                15.05            15.05
2                         15.97                16.15            16.13
3                         17.23                17.66            17.57
4                         14.12                14.43            14.73

   Schleswig-Holstein  Saarland  Sachsen  Sachsen-Anhalt  \
0               15.16     16.46    15.83           16.08
1               15.68     15.34    14.36           15.26
2               15.83     16.44    15.87           16.59
3               17.06     17.99    16.53           17.25
4               14.12     15.15    14.51           14.81

   Thueringen/Sachsen-Anhalt  Thueringen  Deutschland  Unnamed: 19
0                      15.70       15.21        15.90          NaN
1                      14.67       13.92        14.89          NaN
2                      16.04       15.36        15.90          NaN
3                      16.71       16.02        17.01          NaN
4                      14.34       13.75        14.56          NaN
...
     Jahr  Monat  Brandenburg/Berlin  Brandenburg  Baden-Wuerttemberg  Bayern  \
136  2017      8               18.55        18.53               18.40   18.22
137  2018      8               20.94        20.92               20.00   19.91
138  2019      8               20.43        20.41               18.54   18.42
139  2020      8               21.10        21.08               19.43   18.93
140  2021      8               17.26        17.24               16.24   15.93

     Hessen  Mecklenburg-Vorpommern  Niedersachsen  \
136   17.57                   17.62          17.15
137   19.95                   19.73          19.36
138   18.93                   19.32          19.08
139   20.01                   19.92          20.16
140   16.13                   16.65          16.62

     Niedersachsen/Hamburg/Bremen  Nordrhein-Westfalen  Rheinland-Pfalz  \
136                         17.15                17.44            17.90
137                         19.36                19.57            19.83
138                         19.08                19.03            19.14
139                         20.16                20.38            20.56
140                         16.62                16.42            16.43

     Schleswig-Holstein  Saarland  Sachsen  Sachsen-Anhalt  \
136               16.67     18.15    18.34           18.28
137               18.59     19.84    20.68           20.67
138               18.31     19.43    19.64           20.15
139               19.55     20.94    20.22           20.97
140               16.36     16.72    16.28           17.03

     Thueringen/Sachsen-Anhalt  Thueringen  Deutschland  Unnamed: 19
136                      17.98       17.60        17.87          NaN
137                      20.27       19.75        19.91          NaN
138                      19.57       18.80        19.06          NaN
139                      20.38       19.63        19.95          NaN
140                      16.45       15.69        16.40          NaN
>>> germany_august_meantemp
----------------------------------------------------------------------------------
Processing data_sources/11000yearsunspotnumber.toml
   YearBP    SN  sigma
0   11405  37.4   20.7
1   11395  57.1   20.1
2   11385  89.0   32.1
3   11375  92.5   34.5
4   11365  75.2   29.9
...
      YearBP    SN  sigma
1131      95  48.7    8.5
1132      85  55.0   12.7
1133      75  40.0   13.3
1134      65  27.0    9.4
1135      55  28.7    9.9
>>> sunspots11000yrs
----------------------------------------------------------------------------------
Processing data_sources/GISP2IceCoreTemperatureAlley2004.toml
        Age  Temperature  (C)
0  0.095141     -31.5913  NaN
1  0.107130     -31.6220  NaN
2  0.113149     -31.6026  NaN
3  0.119205     -31.6002  NaN
4  0.119205     -31.5980  NaN
...
         Age  Temperature  (C)
1627  49.746     -40.5505  NaN
1628  49.806     -40.2651  NaN
1629  49.868     -40.1018  NaN
1630  49.922     -39.8165  NaN
1631  49.981     -39.9694  NaN
>>> gisp2icecoretemp
        Age  Accumulation
0  0.144043      0.244106
1  0.172852      0.246155
2  0.201660      0.248822
3  0.230469      0.249856
4  0.259277      0.249943
...
          Age  Accumulation
1692  48.8882      0.092122
1693  48.9170      0.091968
1694  48.9458      0.091857
1695  48.9746      0.091739
1696  49.0034      0.091599
>>> gisp2iceaccum

In [76]:
dfs.keys()

dict_keys([])

In [ ]:
dfs['sunspots11000yrs']

In [ ]:
em2k=dfs['euromed2k'].to_numpy()
gjmt6=dfs['germany_june_meantemp'].to_numpy()
gjmt7=dfs['germany_july_meantemp'].to_numpy()
gjmt8=dfs['germany_august_meantemp'].to_numpy()
sunsp=dfs['sunspots11000yrs'].to_numpy()

In [ ]:
sunsp[:,0]=1950-sunsp[:,0]

In [ ]:
sunsp[:,1]

In [ ]:
gjmt=(gjmt6[:-1,:]+gjmt7+gjmt8)/3.0

In [ ]:
np.mean(gjmt[:,2])

In [ ]:
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n

In [ ]:
gjmean=np.mean(gjmt[:,2])

In [ ]:
win=100
em2kmat=moving_average(em2k[:,1],2*win+1)
gjmtmat=moving_average(gjmt[:,2]-gjmean,2*win+1)

In [ ]:
sunma=moving_average(sunsp[:,1],2*win+1)

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [14,8]  # inch! :-/

In [ ]:
plt.plot(gjmt[:,0],gjmt[:,2]-gjmean)
plt.plot(dfnp[:,0],dfnp[:,1])
plt.plot(sunsp[-200:,0],sunsp[-200:,1]/60-0.4)

In [ ]:
# plt.plot(dfnp[:,0],dfnp[:,1])
plt.plot(gjmt[win:-win,0],gjmtmat)
plt.plot(dfnp[win:-win,0],em2kmat)
plt.plot(sunsp[-200:,0],sunma[-200:]/50-0.5)

In [ ]:
plt.plot(dfnp[-120+win:-win,0],em2kmat[-120+win:-win])
plt.plot(gjmt[win:-win,0],gjmtmat)

In [ ]:
a=-1500
b=-1400
plt.plot(dfnp[a:b,0],dfnp[a:b,1])
plt.plot(dfnp[a:b,0],gjmtmat[a-win:b-win])

In [ ]:
dl.get('https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwinpuzSjP74AhWCOuwKHeiOCrsQFnoECDIQAQ&url=ftp%3A%2F%2Fftp.ncdc.noaa.gov%2Fpub%2Fdata%2Fpaleo%2Fclimate_forcing%2Fsolar_variability%2Fsolanki2004-ssn.txt&usg=AOvVaw1tTDiUMZ93LQAYE4N8jt6A')